
@{
    ViewBag.Title = "ServicesLocation";
}

<h2>Services by Location</h2>
<div class="card-group">
    <div class="card">
        <img src="~/Content/img/belconnen.jpg" class="card-img-top" alt="An image depicting the owl statue located in Belconnen town centre">
        <div class="card-body">
            <h3 class="card-title">Belconnen</h3>
            <p class="card-text">Follow this link to find services located in and around Belconnen</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/Belconnen">Go to Belconnen Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/woden.jpg" class="card-img-top" alt="Overlooking the woden valley town centre, with mountains in the background.">
        <div class="card-body">
            <h3 class="card-title">Woden</h3>
            <p class="card-text">Follow this link to find services located in and around Woden</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/Woden">Go to Woden Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/tuggeranong.jpg" class="card-img-top" alt="Looking towards the tuggeranong foreshore, with lake tuggeraning in the foreground.">
        <div class="card-body">
            <h3 class="card-title">Tuggeranong</h3>
            <p class="card-text">Follow this link to find services located in and around Tuggeranong</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/Tuggeranong">Go to Tuggeranong Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/civic.jpg" class="card-img-top" alt="An art monument in canberra's CBD plaza.">
        <div class="card-body">
            <h3 class="card-title">Civic</h3>
            <p class="card-text">Follow this link to find services located in and around Canberra Civic</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/Civic">Go to Civic Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/gungahlin.jpg" class="card-img-top" alt="A view of the corner of gungahlin plaza shopping centre, at the intersection of two main roads.">
        <div class="card-body">
            <h3 class="card-title">Gungahlin</h3>
            <p class="card-text">Follow this link to find services located in and around Gungahlinn</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/Gungahlin">Go to Gungahlin Services</a>
    </div>
</div>
<hr />
<a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/ServicesMenu">Return to services menu</a>

