
@{
    ViewBag.Title = "ServicesType";
}

<h2>Services by Type</h2>
<div class="card-group">
    <div class="card">
        <img src="~/Content/img/shelterIcon.png" class="card-img-top" alt="A cartoon depicting a basic house">
        <div class="card-body">
            <h3 class="card-title">Shelter</h3>
            <p class="card-text">Find services which provide long and short term accomodation.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/Shelter">Go to Shelter Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/mealsfoodicon.png" class="card-img-top" alt="A basic image depicitng a plate with cutlery on either side">
        <div class="card-body">
            <h3 class="card-title">Meals and Food</h3>
            <p class="card-text">Find services which provide meals and food at low or no cost.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/MealsFood">Go to Meals/Food Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/healthwellbeing.png" class="card-img-top" alt="An image depicting a person in a yoga pose or meditating">
        <div class="card-body">
            <h3 class="card-title">Health and Wellbeing</h3>
            <p class="card-text">Find services which can help to improve you mental and physical health.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/HealthWellbeing">Go to Health/Wellbeing Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/legalfinancialicon.png" class="card-img-top" alt="An image showing scales with a house on the light end(higher) and a dollar symbol on the end which is weighed down.">
        <div class="card-body">
            <h3 class="card-title">Legal and Financial</h3>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/LegalFinancial">Go to Legal/Financial Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/familycommunity.png" class="card-img-top" alt="A cartoon nuclear family with a father, a son, a mother and a daughter.">
        <div class="card-body">
            <h3 class="card-title">Family and Community</h3>
            <p class="card-text">Find services where you can participatte in the community or get help with family matters.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/FamilyCommunity">Go to Community/Family Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/jobsemployment.png" class="card-img-top" alt="A man dressed in business attire holding a briefcaes">
        <div class="card-body">
            <h3 class="card-title">Jobs and Employment</h3>
            <p class="card-text">Find services which can help you to become employed or gain the skills and things you need to become employed.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/JobsEmployment">Go to Jobs/Employment Services</a>
    </div>
    <div class="card">
        <img src="~/Content/img/diversityinclusion.png" class="card-img-top" alt="A group of people linked in a circle, looking inward towards eachother.">
        <div class="card-body">
            <h3 class="card-title">Inclusion and Diversity</h3>
            <p class="card-text">Find services which provide service for people of minority groups and promote inclusion.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/InclusionDiversity">Go to Inclusion/Diversity Services</a>
    </div>
</div>
<hr />
<a type="button" class="btn btn-primary btn-lg btn-block" href="~/Services/ServicesMenu">Return to Inclusion/Diversity Services</a>

