body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*set styles for cards*/
.card {
    display: inline-block;
    width: 270px;
    height: 380px;
    border: 1px solid #555555;
    align-content: center;
    vertical-align: top;
    margin: 0.5%;
    border-radius:10px;
    /*create 3d shadow effect*/
    box-shadow: 5px 3px 3px #AAAAAA;
}
.locationCard {
    display: inline-block;
    width: 270px;
    height: 380px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    align-content: center;
    vertical-align: top;
    margin: 0.5%;
    /*create 3d shadow effect*/
    box-shadow: 5px 3px 3px #AAAAAA;
}

.btn-block {
    height: 55px;
    width: 268px;
    white-space: normal;
    color: #FFFFFF;
    font-size: 16px;
    background-color: #770077;
    border: 1px solid #000;
    border-top: 1px solid #770077;
    border-radius: 0 0 10px 10px;
    /*add 3d effect to buttons*/
    box-shadow: 5px 3px 3px #AAAAAA;
}

.card-body {
    height: 323px;
    width: 260px;
    padding:0 2px 0 2px;
    text-align: center;

}
.card-img-top {
    width: 150px;
    height: 150px;
    margin: 5px 50px 0 50px;
    border-radius: 10px;
    display:inline-block;
    background:#FFFFFF;
}
.card-title {
    height:43px;
    font-size:1.9rem;
    bottom:0;
}
.card-text {
    text-overflow:ellipsis;
    overflow:hidden;
    height: 180px;
}
/*Set proppertie of elements in the Create page*/
/*category checkboxes attributes*/
#CatCheck{
    display:inline-block;
    width:150px;
    left:1%;
    position:relative;
}
.checkbox{
    display:inline;
}
.CatGroup{
    align-content:center;

}
.form-group{
    display:block;
}
/*Properties of inputs for create page*/
/*style the navbar area*/
.navbar {
    background-color: #550055;
    height: 50px;
}
.nav-logo{
    height:50px;
    margin-right:5px;
    float:left;
}
/*properties for page title in nav bar*/
.nav-title {
    display: inline;
    position: relative;
}
.nav-title-small{
    display:none;
}
.navbar-collapse {
    background-color: #550055;
}
/*style the div which contains the logo and title*/
.navbar-brand {
    color: #FFFFFF!important;
    font-weight: bold;
    font-size: 17px;
}
/*style the footer*/
.nav-item nav-link{
    display:inline-block;
    position:absolute;
}
.footerIcon{
    width:30px;
    height:30px;
    margin:10px;
    /*display:inline; not needed*/
}
.footerLink{
    width:260px;
    list-style:none;
    margin:0 0 10px 0;
    left:0;
    display:inline-block;
    border:1px solid #FFFFFF;
    border-radius:10px;


}
.footerLink p{
    width:150px;
    padding-left:10px;
    /*display:inline; not needed*/

}
.footer{
    background-color:#FFFFFF;
    bottom:0;
    align-items:center;
    border:none;
    /*border-bottom:none;*/
    border-radius:10px;
}
.footerText{
margin:10px 0 30px 10px;
width:100%;
align-content:center;

}
/*style the search bar for main map*/
.servicesMap {
    height:75vh;
    width: 100%;
    /*create 3d shadow effect*/
    box-shadow: 5px 3px 3px #AAAAAA;
    border-radius:10px;
}
/*create uniform styling for both map class definitions*/
#googleMap{
    height: 75vh;
    width: 100%;
    /*create 3d shadow effect*/
    box-shadow: 5px 3px 3px #AAAAAA;
    border-radius: 10px;
}
/*collect like styles for border*/
.servicesMap, #googleMap, .mapCaption{
    border:1px solid #222;
}
/*style the navbar(dropdown menu)*/
.dropdown-item {
    display: block;
    width: 100%;
    height:50px;
    color:#770077;  
    margin:0;
    padding: 10px 0 0 0;
    list-style:none;
}
/*set background color of entire dropdown menu for all pages in nav*/
.dropdown-menu {
    background-color: #707;
    border-radius:0 0 10px 10px;
    width: 200px;
}
/*override bootstrap link colors for anchor elements in nav menu*/
.dropdown-menu li a{
    color:#FFF!important;
}
/*set properties of links in nav menu at top of every page*/
.navbar-nav a {
    color: #FFF !important;
    font-size: 15px;
    width:68px;
    /*display:inline;*/
    text-align:center;
}
.navbar-nav{
    float:right;
}
/*properties of category tabs on index page*/
.nav-tabs a {
    height: 75px;
    white-space: normal;
    font-size: 14px;
    left: 0;
    vertical-align: top;
    width: 100px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 0;
    margin: 0;
    line-height:0.9;
}
/*Set properties for tiles on home page*/
.tile {
    width: 240px;
    height: 260px;
    /*create 3d shadow effect*/
    box-shadow: 5px 3px 3px #AAAAAA;
    border-radius: 10px;
    border: 2px solid #000;
    left: 0;
    display: inline-block;
    margin: 5px;
    text-align:center;
}
/*apply border radius to elements where required*/
.tile, .filters, .mapCaption {
    border-radius: 10px;
}
.tile p{
    margin: 0 5px 0 5px;
}
/*set hover colour to be same*/
.tile-button:hover{
   color:#FFF;
}
.tile-button {
    width: 220px;
    height: 40px;
    margin: 0 7px 0 7px;
    padding: 0;
    float: left;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #990099;
    color: #FFFFFF;
    /*add 3d effect to buttons*/
    box-shadow: 5px 3px 3px #AAAAAA;
}
.tile-title{
    white-space:normal;
    height:35px;
    width:230px;
}
.tile-text {
    height: 95px;
    width: 97%;
    overflow: hidden;
    text-overflow:ellipsis;
    margin:0;
}
/*make service's page responsive (columns)*/
.ServiceDetails{
    width: 99%;
    display:inline-block;
    vertical-align:top;
    padding:1%;
    /*float:left; not needed*/
}
.ServiceDetails p{
    display:inline-block;
}
.ServiceAccessibility {
    width: 99%;
    display: inline-block;
    vertical-align:top;
    padding:1%;
}

/*set properties of map within iframe element*/
.iframeMap{
    height:35vh;
    width:100%;
    /*display:inline; not needed*/
    border-radius:10px;
    box-shadow: 5px 3px 3px #AAAAAA;
}
/*set thead width of the div containing the service map stop half*/
.map-responsive{
    width:49%;
    /*display:inline-block; not needed*/
    padding:1%;
    float:right;

}
.details-responsive{
    width:49%;
    display:inline-block;
    border-right:1px solid #707;
}

/* properties of buttons at bottom of individual service's page*/
#ServicePageButton {
    width: 40%;
    height: 50px;
    margin: 0 4.5% 0 4.5%;
    padding: 0;
    vertical-align: top;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #770077;
    color: #FFFFFF;
    /*create 3d shadow effect*/
    box-shadow: 5px 3px 3px #AAAAAA;
}
    /*properties of icons used to give meaning to text*/
    .textIcon{
    height:30px;
    width:30px;
    /*display:inline; not needed*/
    margin:5px 5px 0 0;
}
.ServiceAccessibility p, strong{
    display:inline;
}
.ServiceDetails p, strong {
    display: inline;
}
/*properties for the results pane in category and locations pages*/
.results{
    width:79%;
    display:inline-block;
}
.filters {
    width: 20%;
    height: 100%;
    display: inline-block;
    /*create 3d shadow effect*/
    box-shadow: 5px 3px 3px #AAAAAA;
    border-radius: 10px;
    vertical-align: top;
    background-color: #FFFFFF;
    border: 2px solid #000;
    /*border-radius: 10px; not needed declared earlier*/
    /*    margin-top:60px;*/
}
/*indent filters on location and category pages*/
.filters input{
    margin-left:10px;
    border-radius:5px;
}
.filters inputButton{
    margin:2%;
    border:2px solid #000;
    border-radius:10px;
}
/*indent filter headings on category and location pages*/
.filters h4, p{
    margin-left:5px;
}
/*Style the heading in the filters menu on the left*/
.filters h3{
    background-color: #EEEEEE;
    width:100%;
    height:55px;
    border-radius:10px 10px 0 0;
    padding:0;
    margin:0;
    text-align:center;
    vertical-align:unset;
    border-bottom: 2px solid #000;

}
/*change certain properties when screen becomes too small*/
@media only screen and (max-width: 850px) {
    .ServiceAccessibility {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
        /*
        display: block;
        width: 100%;
        */
    }

    .results, serviceAccessibility, .filters {
        display:block;
        width: 100%;
    }

    .filters {
        /*width: 100%; was duplicate*/
        height: 100%;
        /*display: block; was duplicate*/
        /*remove left border line*/
        border: none;
        /*put line at bottom*/
        border: 1px solid #000;
        border-radius:10px;
        margin-top: 0;
    }

    .ServiceDetails {
        display: inline-block;
        width: 100%;
    }

    #ServicePageButton {
        font-size: 1.7rem;
        line-height:0.90;
    }
    /*make filters div higher, so that heading text is able to be display multiline*/
    .filters h3{
        height:35px;
    }
    /*make both details and map 100% width on smaller viewports*/
    .details-responsive{
        width:100%;
        border:none;
    }
    .map-responsive{
        width:100%;
        border-bottom:1px solid #DDD;
    }
    /*display shortened titled in smaller viewports*/
    .nav-title-small {
        display: inline;
    }
    /*hide div with larger title in smaller viewports*/
    .nav-title{
        display:none;
    }
}
/*style <input> buttons*/
.inputButton{
    width:92%;
    /*left margin is set to zero because it is already set to 10px under ".filters input{} style*/
    margin:0 10px 10px 0;
    height:30px;
    border-radius:10px;
    background-color:#EEEEEE;
}
.inputButton:hover{
    background-color:#CCC;
}
/*set properties for filter links*/
.filter{
    display:block;
    
}
/*properties of search box in category/location menus*/
.SearchBox{
    overflow:hidden;
}
/*properties of small icons used to identify category(s) of services, on their cards*/
.multiIcon{
    margin:10px 0 10px 0;
    height:40px;
    width:40px;
    width:40px;
    /*display:inline; not needed*/
    align-content:center;
}
/*highlight multiicon when hovered*/
.multiIcon :hover{
    opacity:0.5;
}
/*properties for search bar on main page*/
.mainSearch{
    width:100%;
}

.nav-tabs li {
    box-shadow: 5px 0 0  #AAAAAA;
    border-radius:10px 10px 0 0;
    width:14%;
    padding:0;
    margin:0;
    
}
.mapCaption {
    margin-top:10px;
    padding:5px;
    border: 1px solid #555555;
    border-radius:10px;
    border-top: none;
    font-size: 1.5rem;
    /*create 3d shadow effect*/
    box-shadow: 5px 3px 3px #AAAAAA;
}
/*set properties for hamburger icon*/
.hamburger{
    height:35px;
    width:35px;
    vertical-align:central;
    margin:0 5px 0 5px ;
    float:right;
}
/*indent website text on individual services' page*/
.websiteText{
    margin-left:38px; 
}
/*make paragraph not exceed bounds of parent element in tiles*/
.tile p {
    width: 95%;
}
/*cards responsive, especially on smaller devices*/
@media only screen and (max-width: 585px) {
    .locationCard{
        width:100%;
        height:200px;
        margin-bottom:10px
    }
    .card{
            width:100%;
        height:200px;
        margin-bottom:10px
    }
    .card a{
        width:100%;
        height:55px;
        padding-bottom:10px;
    }
    .card-body{
        padding:0;
        width:100%;
        height:150px;
    }
    .card-text{
        height:100px;
        display:inline-block;
    }
    .card-img-top{
        height:150px;
        /*display:inline; not needed*/
        float:left;
        padding:0;
        margin:0;
        border-radius:10px 0 0 0;
    }
    .card-title{
        height:50px;
        /*display:inline; not needed*/
        width:100%;
    }
    /*remove white space from around icons next to services' names*/
    .multiIcon{
        padding:0;
        margin:0;
        height:30px;
        width:30px;
    }
    .locationCard a{
        width:100%;
        height:55px;
        padding-bottom:10px;

    }
    /*set responsive properties for tiles on home page*/
    .tile-button{
        width:97%;
        height:50px;
        /*remove margin and padding before defining*/
        padding:0;
        margin:0;
        margin:0 1.5% 0 1.5%;
    }
    .tile{
        width:100%;
        height:175px;
        display:block;
        padding:0;
    }

    .tile-title{
        margin:0;
        width:100%;
        height:34px;
    }
    .tile-text{
        margin:0;
/*        width:97%;*/
        height:55px;
        text-align:center;
        font-size:13px;
    }
    /*make paragraph fit within parent*/
    .tile p {
        width: 97%;
        margin: 0 1.5% 0 1.5%;
    }
    h5{
        width:100%;
        height:14px;
       margin:0 0.5% 0 0.5%;
        display:block;
        font-size:14px;
    }
    a:hover{
        color:#FFFFFF;
    }
    /*make buttons in services' individual pages responsive*/
    #ServicePageButton{
        width:90%;
        margin:1% 5% 1% 5%;
        display:block;
    }
    /*make tab markers not as tall in smaller viewports*/
    #mobileTab{
        height: 45px;
    }
    #mobileTab a{
        height: 45px;
    }

}
/*set styles of catgeory tabs on index page*/
#mobileTab a{
    /*allow height to be set*/
    display:block;
    /*override bootstrap with !important to make button push past bounds of tab to show current tab*/
    height:50px!important;
    width:100%;
    border-radius:10px 10px 0 0;
    /*set links to black text*/
    color:#000;
}

/*set the color of the active tab*/
.nav .active a{
    background-color:#FFF;

}
#mobileTab{
    background-color:#BBB;
    border:1px solid #000;
    padding:0;
    height:50px;
    vertical-align:top;
}
    #mobileTab :hover {
        background-color: #909;
        color:#FFF;
        border-bottom: 2px double #909;
    }



/*media query to make service category tabs on home page responsive on smaller devices*/
@media only screen and (max-width: 760px) {
    #mobileTab{
        width: 100%;
        border: 2px solid #000;
        border-radius:10px;
        margin-bottom: 5px;
        box-shadow: none;
    }

    
    /*properties of category tabs on index page*/
    #mobileTab a{
        display:inline-block;
        width: 100%;
        /*height:45px!important;repitition of earlier definition of same style*/
        color: #000;
        height: 40px;
        border-radius: 10px;

    }

    #mobileTab :hover{
        border:none;
        border-radius:10px;
        height:45px;

    }

    #categoriesMain ul{
        border:2px solid #000;
        background-color:#707;
        padding:5px;
        border-radius:10px;
        border-bottom:none;
        color:#000;
    }
}
/*style of image on about page*/
.about-image{
    width:50%;
    margin-left:25%;
}
/*style the button on the index page which links the user to the services menu page*/
.btn-index {
    width: 150px;
    height: 40px;
    display: block;
    color: #FFF;
    background-color: #707;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #000;
    border-radius: 10px;
}
.btn-index:hover{
    background-color:#505;
    color:#FFF;
}

/*style the dropdown menu on the navbar*/
.nav-link{
    /*this is set to be black in the bootstrap stylesheet and so the !importnat tag needs to be applied, to override this.*/
    background-color:#505!important;
}
/*style contact form API iFrame*/
.contact-form {
    width: 100%;
    min-height: 700px;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #AAAAAA;
}
/*set properties of contact details of northside in the contact us page*/
.northside-contact{
    display:inline-block;
    margin-right:30px;
}
/*remove inline styles from contact us iframe*/
.contact-form {
    min-height:750px;
    height:inherit;
    overflow:auto;
    
}
/*properties of form groups in create/edit/delete pages*/

.category-input{
    display:inline-block;
    margin-left:10px;
    vertical-align:bottom;
}
.form-group{
    display:inline;
}
/*set properties of description in services database view*/
.serviceDescriptionTable, .serviceHoursTable{
    height:75px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    white-space:unset;
    width:250px;
    height:150px;

}