@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>
<h3>Use the form below to get in contact with the ACT Youth Homelessness Services Directory.</h3>
<p>Insert contact us form</p>
<hr />
<h3>Alternatively, you can contact Northside Community Service via email, phone, post, or visit our office.</h3>
<p>You can email us directly at <a href="mailto:reception@northside.asn.au">reception@northside.asn.au</a>.</p>
<p>
    Head Office<br />
    2 Rosevear Place<br />
    Dickson&nbsp; ACT&nbsp; 2602
</p>
<div id="googleMap" style="width:100%;height:70vh;"></div>

<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(- 35.249425, 149.143374), 
            zoom: 14,
        };
        var myLatLng = { lat: -35.249425, lng: 149.143374 };
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });


        marker.setMap(map);
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                    /*plot markers for services*/
            var marker = new google.maps.Marker({
                position: {
                    lat: -35.249425,
                    lng: 149.143374
                },
                map: map,
                title: 'Northside Community Service'

            });
        var contentString = 'Northside Community Service';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXq96VjA3ovASTp9u95xIFoNifTgSZWFk&callback=myMap"></script>



<p>PO Box 453</p>
<p>Dickson ACT 2602</p>
<p>Telephone: 02 6171 8000</p>
<p>&nbsp;</p>


