
@{
                /**/

                ViewBag.Title = "Interstate";
}
<!--embed analytics-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147750347-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-147750347-1');
</script>
<!--start content-->
<h2>Interstate</h2>
<p>This page can be used to navigate to the relevant Homelessness Services Directory for your state or territory.</p>
<hr />
<!--Begin state cards-->
<div class="card-group">
    <!--NT directiory card-->
    <div class="card">
        <div class="card-body">
            <img src="~/Content/img/Intertstate/NT.png" class="card-img-top" alt="The NTCOSS logo, a green triangle, with a human figure in the centre">
            <h4 class="card-title">Northern Territory Directory</h4>
            <p class="card-text">
                The Northern Territory Council of Social Service (NTCOSS) is a peak body for the Social and Community Sector in the NT and an advocate
                for social justice on behalf of people and communities in the NT, who may be affected by poverty and disadvantage.
            </p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="https://ntcoss.org.au/directory/listing/northern-territory-council-of-social-service-ntcoss-1">Go to Northern Territory Directory</a>
    </div>
    <!--Queensland Directory card-->
    <div class="card">
        <div class="card-body">
            <img src="~/Content/img/Intertstate/QLD.png" class="card-img-top" alt="A basic image depicitng a plate with cutlery on either side">
            <h4 class="card-title">Queensland Directory</h4>
            <p class="card-text">The directory provides up-to-date information for community organisations who provide services within Queensland.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="https://www.mycommunitydirectory.com.au/Queensland/Brisbane/Accommodation_Services/Specialist_Homelessness_Services?PageNo=1">Go to Queensland Directory</a>
    </div>
    <!--Tasmania directory card-->
    <div class="card">
        <div class="card-body">
            <img src="~/Content/img/Intertstate/TAS.png" class="card-img-top" alt="An image depicting a person in a yoga pose or meditating">
            <h4 class="card-title">Tasmania Directory</h4>
            <p class="card-text">findhelptas.com.au aims to provide a publicly accessible, independently managed database of Tasmania's social services.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="https://www.findhelptas.com.au">Go to Tasmania Directory</a>
    </div>
    <!--NSW directory card-->
    <div class="card">
        <div class="card-body">
            <img src="~/Content/img/Intertstate/NSW.jpg" class="card-img-top" alt="An image showing scales with a house on the light end(higher) and a dollar symbol on the end which is weighed down.">
            <h4 class="card-title">New South Wales Directory</h4>
            <p class="card-text">Find out how we can help you find or keep your housing, how to apply for private rental assistance or social housing, understand your rights and responsibilities as a tenant or request help with a property and find out more about management transfers </p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="https://www.facs.nsw.gov.au/housing/help/ways/services">Go to New South Wales Directory</a>
    </div>
    <!--Western australia directory card-->
    <div class="card">
        <div class="card-body">
            <img src="~/Content/img/Intertstate/WA.jpg" class="card-img-top" alt="A cartoon nuclear family with a father, a son, a mother and a daughter.">
            <h4 class="card-title">Western Australia Directory</h4>
            <p class="card-text">YACWA aims to provide a united, independent and active advocate for the non-government youth sector and young people that is both supported and respected by the sector and the wider community.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="https://www.yacwa.org.au/ways/">Go to Western Australia Directory</a>
    </div>
    <!--South australia directory card-->
    <div class="card">
        <div class="card-body">
            <img src="~/Content/img/Intertstate/SA.png" class="card-img-top" alt="A man dressed in business attire holding a briefcaes">
            <h4 class="card-title">South Australia Directory</h4>
            <p class="card-text">Many of these organisations offer a range of community support and information services in addition to the specific homelessness programs listed below. If you are homeless or at risk of homelessness contact the appropriate gateway service (24 hours, 7 days)</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="https://www.sa.gov.au/topics/housing/emergency-shelter-and-homelessness/homelessness-service-providers">Go to South Australia Directory</a>
    </div>
    <!--Victoria Directory card-->
    <div class="card">
        <div class="card-body">
            <img src="~/Content/img/Intertstate/VIC.png" class="card-img-top" alt="A group of people linked in a circle, looking inward towards eachother.">
            <h4 class="card-title">Victoria Directory</h4>
            <p class="card-text">Young people sometimes need support when they are experiencing challenges in their lives. The contact information on this page, including websites and phone numbers, will help you find services in your local area. Topics include counselling, health, education, housing, disability, parenting, legal assistance, refugee support services and mentoring.</p>
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="https://services.dhhs.vic.gov.au/young-people">Go to Victoria Directory</a>
    </div>
</div>
<hr />


