
@{
    ViewBag.Title = "Location";
}
<!--embed analytics-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147750347-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-147750347-1');
</script>
<!--start content-->
<h2>Find services by their location</h2>
<hr />
<div class="locationCard">
    <div class="card-body">
        <img class="card-img-top" src="~/Content/img/belconnen.jpg" alt="The large owl statue monumnet located in the middle of one of the main roads into belconnen.">
        <h3 class="card-title">Belconnen</h3>
        <p class="card-text">Find services location in and around the Belconnen District.  </p>
    </div>
    <a href="~/Home/Belconnen" class="btn btn-primary btn-block">Find services in Belconnen</a>
</div>
<div class="locationCard">
    <div class="card-body">
        <img class="card-img-top" src="~/Content/img/woden.jpg" alt="A view of the woden valley from red hill, with the brindabella mountain range in the background, the woden CBD in the middleground, and red hill bushland in the foreground">
        <h3 class="card-title">Woden</h3>
        <p class="card-text">Find services located in and around the Woden Valley District. </p>
    </div>
    <a href="~/Home/Woden" class="btn btn-primary btn-block">Find services in Woden</a>
</div><div class="locationCard">
    <div class="card-body">
        <img class="card-img-top" src="~/Content/img/tuggeranong.jpg" alt="A view of tuggeranong foreshore, with lake tuggeranong in the foreground and manyy store and buildings with red rooves lining the banks of the lake">
        <h3 class="card-title">Tuggeranong</h3>
        <p class="card-text">Find services located in and around the Tuggeranong area.</p>
    </div>
    <a href="~/Home/Tuggeranong" class="btn btn-primary btn-block">Find services in Tuggeranong</a>
</div>
<div class="locationCard">
    <div class="card-body">
        <img class="card-img-top" src="~/Content/img/gungahlin.jpg" alt="An image showing the front of gungahlin shopping centre in the town centre, at the intersection of two of gungahlins main roads.">
        <h3 class="card-title">Gungahlin</h3>
        <p class="card-text">Find services located in and around the Gunghalin District</p>
    </div>
    <a href="~/Home/Gungahlin" class="btn btn-primary btn-block">Find services in Gungahlin</a>
</div>
<div class="locationCard">
    <div class="card-body">
        <img class="card-img-top" src="~/Content/img/civic.jpg" alt="A modern art monument in the mall in canberras civic precinct, with some light foliage in the baclground and the water feature in the middleground.">
        <h3 class="card-title">Civic</h3>
        <p class="card-text">Find Services Located in and around Canberra's CBD.</p>
    </div>
    <a href="~/Home/Civic" class="btn btn-primary btn-block">Find services in Civic</a>
</div>

