
@{
    ViewBag.Title = "Location";
}

<h2>Find services by their location</h2>
<div class="card">
    <img class="card-img-top" src="~/Content/img/Types.png" alt="four squares with the top left shaded darker">
    <div class="card-body">
        <h3 class="card-title">Service Types</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        <a href="~/Home/Type" class="btn btn-primary btn-block">Find services by type</a>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="~/Content/img/Locations.png" alt="A black map marker icon">
    <div class="card-body">
        <h3 class="card-title">Service Locations</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        <a href="~/Home/Location" class="btn btn-primary btn-block">Find services by location</a>
    </div>
</div><div class="card">
    <img class="card-img-top" src="~/Content/img/Types.png" alt="four squares with the top left shaded darker">
    <div class="card-body">
        <h3 class="card-title">Service Types</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        <a href="~/Home/Type" class="btn btn-primary btn-block">Find services by type</a>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="~/Content/img/Locations.png" alt="A black map marker icon">
    <div class="card-body">
        <h3 class="card-title">Service Locations</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        <a href="~/Home/Location" class="btn btn-primary btn-block">Find services by location</a>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="~/Content/img/Types.png" alt="four squares with the top left shaded darker">
    <div class="card-body">
        <h3 class="card-title">Service Types</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        <a href="~/Home/Type" class="btn btn-primary btn-block">Find services by type</a>
    </div>
</div>
