
@{
    ViewBag.Title = "Type";
}

<h2>Find services by their category</h2>
<div class="card">
    <img class="card-img-top" src="~/Content/img/shelterIcon.png" alt="four squares with the top left shaded darker">
    <div class="card-body">
        <h3 class="card-title">Shelter</h3>
        <p class="card-text">Services which offer long and short term acomodation, or can assist with gaining accomodation.</p>
    </div>
    <a href="~/Home/Type" class="btn btn-primary btn-block">Find services by type</a>
</div>
<div class="card">
    <img class="card-img-top" src="~/Content/img/mealsfoodicon.png" alt="A black map marker icon">
    <div class="card-body">
        <h3 class="card-title">Meals and Food</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    </div>
    <a href="~/Home/Location" class="btn btn-primary btn-block">Find services by location</a>
</div>
<div class="card">
    <img class="card-img-top" src="~/Content/img/diversityinclusion.png" alt="four squares with the top left shaded darker">
    <div class="card-body">
        <h3 class="card-title">Diversity and Inclusion</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    </div>
    <a href="~/Home/Type" class="btn btn-primary btn-block">Find services by type</a>
</div>
      <div class="card">
          <img class="card-img-top" src="~/Content/img/jobsemployment.png" alt="A black map marker icon">
          <div class="card-body">
              <h3 class="card-title">Jobs and Employment</h3>
              <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
          <a href="~/Home/Location" class="btn btn-primary btn-block">Find services by location</a>
      </div>
<div class="card">
    <img class="card-img-top" src="~/Content/img/legalfinancialicon.png" alt="four squares with the top left shaded darker">
    <div class="card-body">
        <h3 class="card-title">Legal and Financial</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    </div>
    <a href="~/Home/Type" class="btn btn-primary btn-block">Find services by type</a>
</div>
      <div class="card">
          <img class="card-img-top" src="~/Content/img/healthwellbeing.png" alt="A black map marker icon">
          <div class="card-body">
              <h3 class="card-title">Health and Wellbeing</h3>
              <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
          <a href="~/Home/Location" class="btn btn-primary btn-block">Find services by location</a>
      </div>
<div class="card">
    <img class="card-img-top" src="~/Content/img/familycommunity.png" alt="four squares with the top left shaded darker">
    <div class="card-body">
        <h3 class="card-title">Family and Community</h3>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    </div>
    <a href="~/Home/Type" class="btn btn-primary btn-block">Find services by type</a>
</div>


